body {
  font-size: 1.5em;
  color: black;
  background-color: lightcyan;
}

h1 {
  text-align: center;
}

img {
   height: 14em;
   width: 15em;
   vertical-align: middle;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.intro {
  color: red;
  font-size: 1em;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.show-border {
  border-style: solid;
  border-color: black;
  border-width: 6px;
  padding: 6px;
  margin: 6px;
  background-color: lightblue;
}
